div.nav-bkg {
	position: relative;
	float: left;
	height: 2.3em;
	background: #7384d9;
	width: 100%;
	max-width: 1232px;
	left: 50%;
	margin-left: -616px;	
}
.main-navigation {
	position: relative;
	// font-family: 'Lato', sans-serif;
	font-family: sans-serif;
	background: #1d2157;
	border-top: .1em solid #e3e430;
	clear: both;
	display: block;
	float: left;
	width: 100%;
	max-width: 1232px;
	left: 50%;
	margin-left: -616px;
	height: 2em;
	// margin: 0 auto;
	z-index: 9998;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
		height: 2.3em;
		// background: #1d2157;

		ul {
			// box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			// top: 2em;
			margin-top: 0.3em;
			// left: -999em;

			opacity: 1;

			z-index: 10001;
			padding: 0;
			background: #5257a4;
			background: rgba(29,33,87,.1);

			.current_page_item > a,
			.current-menu-item > a,
			.current_page_item > a:hover,
			.current-menu_item > a:hover {
				background: #5257a4;
				color: #fff;
				height: 3em;
			}









			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					// left: 100%;
					opacity: 1;
				}
			}		

			a {
				width: 300px;
				border-bottom: 1px solid #fff;
				height: 3em;
				line-height: 3em;

			}
			li:last-child a {
				border-bottom: 0;
			}	

			:hover > a,
			.focus > a {
				// outline: solid #757575 1px;
			}

			a:hover,
			a.focus {
				background: #5257a4;
				// wtf is this? ^^^ <------------------------------------- see this
				// small screen menu goes behind search results
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;
		background: #1d2157;
		background: rgba(29,33,87,.9);

		&:hover > a,
		&.focus > a {
			color: #fff;
			background: #5257a4;
		}
	}
	a { // see below for stand alone padding on top level anchors
		display: block;
		padding: 0 2em 2em 2em;
		font-size: 14px;
		text-decoration: none;
		line-height: 2em;
		color: #fff;
		height: 2em;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_item > a:hover,
	.current-menu_item > a:hover {
		background: #fff;
		color: #1d2157;
		height: 2.6em;
	}
	.current_page_parent {
		.current_page_item > a {
			color: #fff;
			background: #1d2157;
		}
	}

	.current-menu-ancestor {
		background: #5257a4;
	}
}

/* Small menu. */


/* this simply turns on and off the appropriate navigation.
style both navigations outside this query - ? */
@media screen and (min-width: 930px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
	// control height of top-level navigation within the nav bar (on hover)
	.main-navigation > div > ul > li > a {
		padding: 0 2em 2.2em 2em;
    }
}


.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
        font-size: 11px;
        font-size: 1.1rem;
        font-family: 'Lato', sans-serif;
        color: #000;
        color: hsl(0, 0%, 0%);
}
.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
	width: 50%;
        float: left;
        padding-right: 15%;
}
.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
        width: 50%;	
        float: right;
        padding-left: 15%;
		text-align: right;
}

.nav-indicator { 
    margin-bottom: .5em; 
}

.nav-previous h1,
.nav-next h1 { 
	font-size: 11px;
	font-size: 1.1rem;
    font-weight: 900; 
}

.post-nav-box {
	// position: relative;
	width: 100%;
	max-width: 460px;
	max-width: 46rem;

	// float: right;
	clear: both;
    padding: 1.5rem 1em;
    margin: 0 auto;

    border-top: hsl(0, 0%, 80%) solid 1px;
    border-bottom: hsl(0, 0%, 80%) solid 1px; 
}
.comment-navigation {
    padding: 1em 0;
    margin: 3em 0;
    border-top: hsl(0, 0%, 80%) solid 1px;
    border-bottom: hsl(0, 0%, 80%) solid 1px;  
}

.comment-navigation i {
    margin: 0 1em;
}
@media screen and (max-width: 929px) {
	.menu-toggle {
            display: block;
            height: 3em;
            width: 100%;
            text-align: left;
            font-family: 'Lato', sans-serif;
            // padding: 0 1em;
            font-size: 10px;
            font-size: 1rem;
            font-weight: normal;
            text-decoration: none;
            // line-height: 2.75em;
            color: white;
            background: #1d2157;
			border-radius: 0;
			outline: 0;
			border: none;
			box-shadow: none;
			text-shadow: none;
			&:hover,
			&:focus {
				outline: 0;
				border: none;
				box-shadow: none;
				background: #1d2157;
				text-shadow: none;
		}
	}
        
	.main-navigation.toggled .nav-menu {
		display: block;
		box-shadow: none;
		border-top: 1px solid;
		border-top-color: #fff;
	}

	.main-navigation ul {
            display: none;
            padding-left: 0;
			height: auto;
	}
        .main-navigation li { 
		float: none; 
	}


	.main-navigation li a { 
		padding: 0 2em; 

		height: 2.3em;
	}


	.main-navigation li li a { 
		padding-left: 4em; 
	}

	.main-navigation li li li a { 
		padding-left: 6em; 
	}

	.main-navigation li:hover > a {
		background: #313131;
	}
	
	.main-navigation ul ul,
	.main-navigation ul ul ul {
		position: relative;
		top: inherit;
		left: 0;

		display: block;
		float: none;

		background: #313131;

		a {
			border-bottom: 0;
			// height: 3em;
			}

	}


	.main-navigation ul ul a { width: 100%; }

	.main-navigation ul a:hover,
	.main-navigation ul ul a:hover {
		background: #4d4d4d;
	}

	.main-navigation .current_page_ancestor { background: inherit; }

	.main-navigation ul ul .current_page_parent {
		color: inherit;
		background: inherit;
	}

	.main-navigation .current_page_item > a,
	.main-navigation .current_page_item > a:hover,
	.main-navigation .current_page_item li:hover,
	.main-navigation .current_page_parent .current_page_item > a  {
		color: #fff;
		background: #4d4d4d;    
	}
}


/* custom styles to keep menu centered */
@media screen and (max-width: 1249px) { // 1232 - 17 (for scroll bar) = 1249... 
										// there never won't be a scroll bar.
div.nav-bkg {
	width: 100%;
	max-width: 1232px;	
	margin: 0 auto;
	left: auto;
}
.main-navigation {
	max-width: 1232px;
	left: 0;
	margin: 0;
	}
}


/* Social Menu */

.menu-social ul {
    float: right;
    position: relative;
    margin-right: 0;
    padding: 0;
    margin: 0;
    text-align: center;
    list-style: none; 
    top: -2.3em;
}

.menu-social li a {
    position: relative;
    display:  inline-block; 
    background: inherit;
    padding: 0;
    &:hover {
    	background: #686b96;
    }   
}

.menu-social li a:before {
    display: inline-block;
    padding: 0;
    vertical-align: top;
    font-family: 'Fontawesome';
    font-size: 14px;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    // content: '\f0c0';
}

/* social media */
.menu-social li a[href*="facebook.com"]::before { 
	content: '\f082';
	font-size: 1.5em; 
}

.menu-social li a[href*="twitter.com"]::before { 
	content: '\f099';
	font-size: 1.5em; 
}

.menu-social li a[href*="dribbble.com"]::before { 
	content: '\f17d';
	font-size: 1.5em; 
}

.menu-social li a[href*="plus.google.com"]::before { 
	content: '\f0d5';
	font-size: 1.5em; 
}

.menu-social li a[href*="pinterest.com"]::before { 
	content: '\f0d2';
	font-size: 1.5em; 
}

.menu-social li a[href*="github.com"]::before { 
	content: '\f09b';
	font-size: 1.5em; 
}

.menu-social li a[href*="tumblr.com"]::before { 
	content: '\f173';
	font-size: 1.5em; 
}

.menu-social li a[href*="youtube.com"]::before { 
	content: '\f167';
	font-size: 1.5em; 
}

.menu-social li a[href*="flickr.com"]::before { 
	content: '\f16e';
	font-size: 1.5em; 
}

.menu-social li a[href*="vimeo.com"]::before { 
	content: '\f194';
	font-size: 1.5em; 
}

.menu-social li a[href*="instagram.com"]::before { 
	content: '\f16d';
	font-size: 1.5em; 
}

.menu-social li a[href*="linkedin.com"]::before { 
	content: '\f0e1';
	font-size: 1.5em; 
}


#menu-social li a { 
    // width: 36px; 
    padding-left: 1em;
    padding-right: 1em;
} 
@media screen and (max-width: 929px) {
    #menu-social ul {
        position: absolute;
        top: 0;
        right: 5.05em;
        display: inline-block;
    }
    
    #menu-social li a { 
        width: 4em;
        height: 3.4em;
        padding-left: 1em;
        padding-right: 1em;
        padding-top: .5em;
    } 
}




// search

input[type="search"] {
    box-sizing: border-box;
    width: 100%;
    font-family: sans-serif;
}

.search-box-wrapper {
    z-index: 2;
    width: 100%;
    display: none;
    max-width: 1232px;
    margin: 2.3em auto 0 auto;
}

.search-box {
    padding: 0.5em;
    background: $color__search-box;
}

.search-box .search-field {
    max-width: 300px;
    float: right;
    padding: 5px 15px 5px 20px;
    font-size: 16px;
    background-color: #fff;
    border: 0;
}

.error404 .search-submit,
.search .search-submit,
.search-box .search-submit { 
    display: none; 
}

.search-toggle {
    float: right;
    position: relative;
    width: 3em;
    height: 1.95em;
    padding-top: 4px;
    margin-right: 20px;
    top: -2.3em;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

.search-toggle:hover,
.search-toggle.active {
    background: $color__search-toggle-hover;
}

@media screen and (max-width: 929px) {
    .search-toggle {
        position: absolute;
        width: 3em;
        height: 3em;
        padding-top: .5em;
        top: 0;
        right: 2em;
        margin-right: 0;
    }
    .search-box-wrapper {
        margin: 3em auto 0 auto;
    }    
}