.paging-navigation ul {
    margin: 0;
}

.paging-navigation li { 
	display: inline; 
}

a.page-numbers,
span.page-numbers {
     padding: .25em .7em;
     color: #333;
     color: hsl(0, 0%, 20%);
     border: 1px solid #5e5e5e;
     background: #fff;
}

a:hover.page-numbers {
    color: #000;
    color: hsl(0, 0%, 0%);
    text-decoration: none;
    background: #313131;
    color: #fff;
}

.paging-navigation .current {
    font-weight: bold;
    color: #000;
    color: hsl(0, 0%, 0%);
    background: #ccc;
}

.paging-navigation {
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 2em;
    list-style-type: none;
    // background: #fff;
}